<div ng-controller="RechercherCtrl">
	<div class="row">
	    <form name="search">
	        <p> Veuillez indiquer le sexe des personnes à rechercher :<br />
	            <input ng-model="sexe" type="radio" name="sexe" value="homme" id="homme" /> <label for="homme">Homme</label><br />
	            <input ng-model="sexe" type="radio" name="sexe" value="femme" id="femme" /> <label for="femme">Femme</label><br /><br />
	        </p>
	        <p> Cochez les centres d'intérets qui vous intéressent :<br/>
	            <div ng-repeat="interet in listInterets">
	                <input ng-click="verifSelected(interet.id)" ng-model="interet.selected" type="checkbox" name="interetsSelected[]" /> <label for="">{{ interet.libelle }}</label><br />
	            </div>
	        </p>
	        <button type="submit" ng-click="search()">Rechercher</button>
	    </form>
	</div>
   	<div ng-show="resultat">
		<h1>Personne(s) trouvée(s)</h1>
		<div class="row">
			<div class="col-lg-12" ng-repeat="utilisateur in listUtilisateurs">
				<p>
					<a href="#utilisateur?id={{utilisateur.id}}">{{utilisateur.prenom}} {{utilisateur.nom}}</a>
				</p>
			</div>
		</div>
	</div>
</div>